body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

a {
  color: #FFDC3B;
}

button {
  background-color: #FFDC3B;
}

button.btn:hover {
  color: white;
  background-color:  #0F0F40;
}

.jumbotron {
  text-align: center;
  background-color: #5554FF;
  color: white;
}

.col-md-3, .col-sm-3, .col-xs-3 {
  background-color: #0F0F40;
  border-radius: 7px;
  margin-left: 13px;
  padding-bottom: 60px;
  color: white;
}

.col-md-8, .col-sm-8, .col-xs-8 {
  margin-left: 10px;
}

#result {
  display: none;
}
